<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  </form>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow mx-1">
      <span class="nav-link dropdown-toggle">
        <%= link_to t("en"), locale: :en, class: "nav-link dropdown-toggle" %>
      </span>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
      <span class="nav-link dropdown-toggle">
        <%= link_to t("vi"), locale: :vi %>
      </span>
    </li>
    <% if user_signed_in? %>
      <%= render "layouts/shared/notifications" %>
      <div class="topbar-divider d-none d-sm-block"></div>
      <%= render "layouts/shared/user_nav" %>
    <% end %>
  </ul>
</nav>
