<li>
  <%= gravatar_for user %>
  <%= link_to user.full_name, user %>
  <% if current_user.admin?%>
    <%= link_to t(".add_user"), relationships_path(user_id: user.id, department_id: @department.id), method: :post, class: "text-warning float-right" %>
  <% end %>
</li>
