<% provide :title, t(".title") %>
<h1><%= t ".users_list" %></h1>
<%= render("shared/users_filter", url: users_path) %>
<ul class="users">
  <%= render @users %>
</ul>
<%== pagy_bootstrap_nav @pagy %>
