@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

/* universal */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.mt-16 {
  margin-top: 16px;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* Users index */

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.red-text {
  color: $red;
}

.margin {
  margin-bottom: 45px;
  margin: auto;
}

.bg-1 {
  background-color: $green;
  margin-top: 50px;
  color: $white;
}

.float-right {
  float: right;
}

.mr-8 {
  margin-right: 8px;
}

.detailBox {
  border: 1px solid #bbb;
  margin: 50px;
}

.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
  width: 80%;
}

.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
  width: 18%;
}

.actionBox .form-group * {
  width: 100%;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  height: min-content;
  overflow: auto;
}

.commentList li {
  margin: 0;
  margin-top: 10px;
}

.commentList li>div {
  display: table-cell;
}

.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
}

.commenterImage img {
  width: 100%;
  border-radius: 50%;
}

.commentText p {
  margin: 0;
}

.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}

.unread {
  background-color: $unread;
}

.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px;
}

.action-comment {
  font-size: 10px;
  margin-top: 5px;
}

.cursor-pointer {
  cursor: pointer
}

.top-30p {
  top: 30%;
}

.w-100 {
  width: 100%
}

.notification {
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: $red;
}

.notification .badge {
  position: absolute;
  top: -12px;
  right: -10px;
  padding: 2px 7px;
  border-radius: 50%;
  background-color: $red;
  color: $white;
}

.mb-16 {
  margin-bottom: 16px;
}
